// ======================================================
// Block Styles
// ============
.template_table_of_contents {
	$block: &;
	padding: 60px 0;
	padding-bottom: 100px;
	@include breakpoint(small down) { padding-bottom: 60px; }
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px 30px;
		@include breakpoint(medium down) { grid-template-columns: repeat(2, 1fr); }
		@include breakpoint(small down) { grid-template-columns: repeat(1, 1fr); grid-gap: 30px; }
	}
	&__item {
		&__image {
			background-size: cover;
			background-position: center;
			height: 175px;
			@include breakpoint(small down) { height: 130px; }
			margin-bottom: 25px;
		}
		&__name {
			transition: all .2s;
			text-align: center;
			margin: 0;
			@include breakpoint(medium up) { font-size: 1.15rem; }
		}
		&:hover #{$block}__item__name { color: $primary-color; }
	}
}